/*
#3f3f3c 油烟墨
#fafafa 雪花白
#93a2a9 正灰
#363532 灯草灰
#6493af 钴蓝
#c4c3cb 浅藤紫
*/

$font-col-base = #3f3f3c
$font-col-white = #fafafa
$font-col-gray = #93a2a9
$font-col-blue = #6493af
$font-col-purple = #c4c3cb

$bg-col-header = #363532
$bg-col-body = #fafafa
$bg-col-dark = #5e5d5b
$bg-col-light = #c4c3cb
$bg-col-green = #37c386


$height-100 = 100%

